.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact-container input {
    margin-top: 20px;
    width: 30%;
    display: flex;
    justify-content: center; 
    
}




.contact-container button {
    margin-top: 20px;
    border: 3px solid purple;
    border-radius: 20px;
    padding: 10px;
    color: purple;
    font-weight: 600;
}

.contact-container h2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}