.work-heading {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

.work-cards-info  {
    display: flex;
    justify-content: center;
}

.work-cards {
    border: none;
    padding: 10px; 
    margin: 10px; 
    display: grid;
    /* display: flex; */
    grid-template-columns: repeat(auto-fill, minmax(700px, 1fr));
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; /* Center the items horizontally */
}
.work-card:nth-child(3) {
    grid-row: 2; /* Place the third grid item in the second row */
    grid-column: 1;
    margin-top: auto; 
}

.work-card {
    position: relative;
    overflow: hidden;
    flex: 0 0 45%; /* Each item takes 50% of the container width */
    padding: 10px; /* Add padding for spacing */
    box-sizing: border-box; /* Include padding and border in the element's total width */
}

.work-card img {
    width: 100%; /* Ensure the image takes up the entire space of its parent */
    border-radius: 40px;
}

.work-card img:hover {
    opacity: 0.5;
    transition: 0.5s;
    cursor: pointer;
}

.work-card .click-me {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    transition: transform 0.5s ease;
    transform: translateY(100%);
}

.work-card:hover .click-me {
    transform: translateY(0);
}

.work-card p {
    margin-top: 10px; /* Add margin to separate the text from the image */
}
